---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
---

<Layout title="Anthony Aylward">
	<main>
		<header>
			<div>
				<img width="80" height="80" src={`${import.meta.env.BASE_URL}/assets/aaylward-profile.png`} alt="Profile picture">
			</div>
		</header>
		<h1>Anthony Aylward</h1>
		<!-- <h1><span class="text-gradient">Anthony Aylward</span></h1> -->
		<p class="instructions">
			Bioinformatics Software Engineer
			<!-- To get started, open the directory <code>src/pages</code> in your project.<br />
			<strong>Code Challenge:</strong> Tweak the "Welcome to Astro" message above. -->
		</p>
		<ul role="list" class="link-card-grid">
			<Card
				href=""
				title="Resume"
				body="Online resume"
			/>
			<Card
				href="https://astro.build/integrations/"
				title="Projects"
				body="List of projects"
			/>
		</ul>
	</main>
</Layout>

<style>
	main {
		margin: auto;
		padding: 1rem;
		width: 800px;
		max-width: calc(100% - 2rem);
		color: white;
		font-size: 20px;
		line-height: 1.6;
	}
	h1 {
		font-size: 4rem;
		font-weight: 700;
		line-height: 1;
		text-align: center;
		margin-bottom: 1em;
	}
	header > div {
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	.text-gradient {
		background-image: var(--accent-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 400%;
		background-position: 0%;
	}
	.instructions {
		margin-bottom: 2rem;
		border: 1px solid rgba(var(--accent-light), 25%);
		background: linear-gradient(rgba(var(--accent-dark), 66%), rgba(var(--accent-dark), 33%));
		padding: 1.5rem;
		border-radius: 8px;
	}
	.instructions code {
		font-size: 0.8em;
		font-weight: bold;
		background: rgba(var(--accent-light), 12%);
		color: rgb(var(--accent-light));
		border-radius: 4px;
		padding: 0.3em 0.4em;
	}
	.instructions strong {
		color: rgb(var(--accent-light));
	}
	.link-card-grid {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
		gap: 2rem;
		padding: 0;
	}
</style>
